body{
    background-color: #f5e7f3;
    
}
main {
    background-color: #e5d8ec;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}
.tablazat{
    width: 100%;
    
}


.adatok{
    display: flex;
    flex-wrap: wrap;
}
.adatok div{
    flex: 0 0 30%;
}

img{
    width: 100%;
}

.kartya{
    padding: 20px;
}
.kartya-header{
    height: 40px;
}
.kartya-header h2{
    font-size: 25px;
}
footer{
    background-color: #f5e7f3;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;

}