body{
    background-color: #241A0E;
    color: #F5D99C;
}
main {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.tablazat{
    width: 100%;
    
}

.navbar-brown{
    background-color: #553F20;
    color: #F5D99C;
}

bg-brown{
    background-color:v #77582D;
}