body{
    background-image: url("/photos/background.png");
    color: #F5D99C;
}
main {
    background-color: #241a01;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.tablazat{
    width: 100%;
    
}


.adatok{
    display: flex;
    flex-wrap: wrap;
}
.adatok div{
    flex: 0 0 30%;
}

img{
    width: 100%;
}

.kartya{
    padding: 20px;
}
.kartya-header{
    height: 40px;
}
.kartya-header h2{
    font-size: 25px;
}